html, body{
    margin: 0;
    height: 100%;
}

#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#middle{
    margin-top: 50px;
}

#logo{
    text-align: center;
}

.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
  }

  .search__input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
  }

  .search__input .material-icons {
    color: gray;
  }

.search__input:hover{
    box-shadow: 0 0 10px 2px yellow;
}

#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(196, 195, 195);
    border: 2px solid transparent;
}

#links{
    margin-top: 20px;
    text-align: center;
}

#links a.link{
    margin-left: 10px;
}

body{
    display: flex;
    flex-direction: column;
}

.button:hover{
    box-shadow: 0 0 2px 1px yellow;
    border: 2px solid rgb(243, 210, 21);
}

#middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    background: rgb(192, 189, 189);
    border-top: 1px solid black;
}
